#ToDoBox {
    width: 500px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 35%;
    border-radius: 10px;
}

#Header {
    text-align: center;
}

#addTask {
    margin-left: 135px;
    margin-right: 135px;
}

#taskList {
    text-align: center;
}

#status {
    text-align: center;
}